@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
.display-flex{
    display: flex;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255,144,14,0.1);
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 2.0rem;
}
.navbar , .banner{
    max-width: 800px;
    margin: 0px auto;
}
/* banner section style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.3rem;
}
.banner-img{
    width: 100%;
}
/* team and features style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 14px;
    width: 100%;
}
.team-img-container img{
    width: 100%;
    border-radius: 6px;
}
.our-features{
    margin-left: 40px;
    max-width: 530px;
    margin-top: -20px;
}
.feature-title{
    font-size: 2.6rem;
}
#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}
.our-features p{
    margin-top: -26px;
}
.btn2{
    background-color: #FF900E;
    color: white;
    padding: 18px 20px;
    font-size: 0.80rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
/* responsive header section */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-link,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 10px;
    }
    main > section {
        margin-top: 70px;
        margin-left: -100px;
        margin-right: -100px;
    }
}